@inherits Maklak.Client.Web.Models.Filter.ItemTreeNodeModel

@foreach (Maklak.Client.DataSets.ItemsTreeDS.ItemsRow row in this.Items)
{
<div data-itemId="@row.Id">

	@{
		string contentPadding = "treeContentPadding";
		string itemClass = row.IsSelected ? "treeItemSelected" : "treeItem";

		}

	@if (row.Id == int.MaxValue)
	{		
		contentPadding = string.Empty;		
	}
	else
	{
	<div class="@itemClass" @onclick="(e=>OnNodeRowClicked(row))">
		@if (!row.IsHasChildrenNull())
		{
			if (row.HasChildren)
			{
				string sign = row.IsOpened ? "-" : "+";
				// клик на expand/close вызывает метод OnToggleNodeClicked в модели. Это метод вызовет делегат переданный из ItemsTree в node верхнего уровня. Таким образом клик на любом узле 
				// будет вызван один и тот же метод в ItemsTreeModel с передачей ему Id узла
				<div style="display:inline-block; height:21px; width:21px;border-style:solid; border-color:black; border-width:1px;" @onclick="(e=>OnToggleNodeClicked(row))">@sign</div>
			}
			else
			{
				<div style="display:inline-block; height: 21px; width: 21px; border-style: solid; border-color: black; border-width: 1px;">&nbsp;</div>
			}
		}

		@if(row.IsCheckable)
		{
			<input type="checkbox" checked="@row.IsChecked" @onchange="((e)=>OnToggleNodeChecked(row))" />
		}

		@row.Name
	</div>
	}

<div class="@contentPadding">
	@* делегат OnNodeToggle инициализируем функцией модели. Это функция переданная из ItemsTree в node верхнего уровня. Далее передается всем дочерним узлам*@
	<ItemTreeNode ItemsSource=ItemsSource ParentRow=row OnNodeToggle=this.OnNodeToggle OnNodeChecked=this.OnNodeChecked OnRefreshTree=this.OnRefreshTree />
</div>
</div>


}





