@model Maklak.Client.Models.SearchModel
@using Maklak.Client.Models
@*@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";    
}

@section Content{*@


    <fieldset>
        <legend>Product</legend>
    <div style="display:inline-block"> @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.PROUDUCT, "ProductInput", "Product Name")</div>
    <div style="display:inline-block"> @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.MODEL, "ModelInput", "Model Name")</div>
    <div style="display:inline-block"> @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.PRODUCER, "ProducerInput", "Producer Name")</div>
    </fieldset>

<fieldset style="display:inline-block">
    <legend>Properties</legend>
    
    @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.PROPERTY, "PropertyInput", "Property Search")
           

    <div>@Html.Label("Available Properties") @Html.Label("Property values")</div>
    <div style="display:inline-block; left:0;"><select multiple size="10" style="width:250px"></select></div>
    <div style="display:inline-block"><div style="background-color:aquamarine"><input type="button" value=">" style="display:block; top:0" /><input type="button" value=">>" style="display:block" /><input type="button" value="<" style="display:block" /><input type="button" value="<<" style="display:block" /></div></div>
    <div style="display:inline-block"><select multiple size="10" style="width:400px"></select></div>
    
</fieldset>

<fieldset style="display:inline-block">
    <legend>Tags</legend>
     @SuggestionHelper.SuggestionInput(SuggestionModelHelper.SuggestionKeys.TAG, "TagInput", "Tag Search")
    
    <div style="display:inline-block; left:0;"><select multiple size="10" style="width:250px"></select></div>
    
</fieldset>


@*}*@
