@model Maklak.Client.Models.BaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> @*fix IE addEventListner error - get rid of compatibility mode*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/App")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/App")
    
    
</head>



<body>

    @Html.HiddenFor(m => m.SID)

    <div class="mainDIV">

        <div class="topDIV">top</div>       

        <div class="contentDIV">
            @RenderBody()
        </div>

        <div class="bottomDIV">btm</div>

    </div>

    <script>
        AppManager.Init();
    </script>
    
    @SuggestionHelper.SuggestionPopUp()

</body>
</html>



