@model Maklak.Models.SearchModel
@using Maklak.Models
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";    
}

@section Content{


    <fieldset>
        <legend>Product</legend>
    <div style="display:inline-block">Product Name: @Html.TextBox("productName") </div>
    <div style="display:inline-block">Model Name: @Html.TextBox("modelName")</div>
    <div style="display:inline-block">Producer Name: @Html.TextBox("producerName")</div>
    </fieldset>

<fieldset style="display:inline-block">
    <legend>Properties</legend>
    <div >
        <div style="display:block; left:0">
           <span style="font-size:0.8em">Property Search:</span>
        </div> 
        <div style="display:block; left:0">
            @Html.TextBoxFor(m =>  m.PropertyInput, new { suggestionKey = SuggestionModelHelper.SuggestionKeys.PROPERTY.ToString(), onKeyUp = "Suggest.ShowSuggestion(this)", @class = "maxWidth" })
        </div>  
    </div>

    <div>@Html.Label("Available Properties") @Html.Label("Property values")</div>
    <div style="display:inline-block; left:0;"><select multiple size="10" style="width:250px"></select></div>
    <div style="display:inline-block"><div style="background-color:aquamarine"><input type="button" value=">" style="display:block; top:0" /><input type="button" value=">>" style="display:block" /><input type="button" value="<" style="display:block" /><input type="button" value="<<" style="display:block" /></div></div>
    <div style="display:inline-block"><select multiple size="10" style="width:400px"></select></div>
    
</fieldset>

<fieldset style="display:inline-block">
    <legend>Tags</legend>
    <div>Tag Search: @Html.TextBox("tagSearch")</div>
    
    <div style="display:inline-block; left:0;"><select multiple size="10" style="width:250px"></select></div>
    
</fieldset>


}
