@using Maklak.Client.Models

@model Maklak.Client.Models.TreeNodeModel

@{
//отображение самого узла

//назване item для конечных листов
	<div class="itemNamePanel">

		@if (this.Model.NodeRow.Expandable)
		{
			string sign = this.Model.NodeRow.Expanded ? "-" : "+";

			<div class="expanderSwitch">@sign</div>
		}

		@if (this.Model.NodeRow.Selectable)
		{
			@Html.CheckBoxFor(m=> m.NodeRow.Selected)
		}

		@this.Model.NodeRow.Name
	</div>


	if (this.Model.NodeRow.UseFilterPanel)
	{
		<div class="filterPanel nodeMargins">
			@Html.Partial("TreeControl/NodeFilter", this.Model)
		</div>
	}

	if (this.Model.NodeRow.UseSelectionPanel)
	{
		// панель для отображения выбранных позиций
		<div class="selectionPanel nodeMargins">
			@Html.Partial("TreeControl/SelectionPanel", this.Model)
		</div>
	}

}
