@using Maklak.Client.Models

@model Maklak.Client.Models.TreeNodeModel

@{

	string commonNodeStyle = "commonNodePanel "; //+ (this.Model.NodeRow.UseSeparator ? "commonNodesPanelSeparator" : "");

	string nestedNodesStyle = "nestedNodesPanel ";

	string expandableContent = this.Model.IsRoot ? "expandableContentVisible" : "expandableContentHidden";

	string branchId = this.Model.NodeRow.ItemBranch_Id.ToString();
	string nodeId = this.Model.NodeRow.Item_Id.ToString();
}

<div class="@commonNodeStyle">

	@{ 
		if (!this.Model.IsRoot)
		{
	<div>
		@{
			//отображение самого узла
			if (this.Model.NodeRow.Visible)
			{
				@Html.Partial("TreeControl/NodeContent", this.Model)
			}
		}
	</div>
				}
			}

	@*разворачиваемый контент*@
	<div class="@expandableContent" data-branchid="@branchId" data-nodeid="@nodeId">
		@{
			if (this.Model.UseCustomPanel)
			{
				
				<div>
					@{
						//отображение панелей фильтрации и выбора

						string nodeMargins = this.Model.IsRoot ? "" : "nodeMargins";

						if (this.Model.NodeRow.UseFilterPanel)
						{
							<div class="filterPanel nodeMargins">
								@Html.Partial("TreeControl/NodeFilter", this.Model)
							</div>
						}

						if (this.Model.NodeRow.UseSelectionPanel)
						{
							// панель для отображения выбранных позиций
							<div class="selectionPanel nodeMargins">
								@Html.Partial("TreeControl/SelectionPanel", this.Model)
							</div>
						}

					}

				</div>
								
							}
						}

		@{
			//отображение вложенного содержимого узла

				<div class="@nestedNodesStyle" data-branchid="@branchId" data-nodeid="@nodeId" data-nestedcontent>
					@{ 
						if (this.Model.NodeRow.Expanded)
						{
							@Html.Partial("TreeControl/NestedContent", this.Model)
						}
					 }

				</div>
			
		}

	</div>

</div>
